setuptools
wheel 
PyQt5==5.9.2
fbs==0.8.4
slick-bitcoinrpc==0.1.4
#pycryptodome==3.9.4  
cryptography==2.8
dateparser==0.7.2
requests==2.20.0
python-bitcoinlib==0.10.2
PyQRCode==1.2.1
qrcode==6.1
pyqtgraph==0.10.0
python-dateutil==2.6.1
